.git/
.dockerignore
*.log
__pycache__/
*.pyc
*.pyo
*.pyd
Dockerfile
docker-compose.yml
.venv/
run_tests.bat
.gitignore
.vscode/
.gitlab-ci.yml
.gitlab/
.env.sample
.pytest_cache/
nginx/
tests/
main.py
pytest.ini
requirements.dev.txt